/* FORM STYLING */
#sign-up-form {
  margin: auto;
  text-align: center;
  width: 50%;
}

.form-header {
  font-weight: bold;
  font-size: 125%; 
  text-align: auto;
}

.form-fields {
  padding: 2%;
  margin: 2%;
  text-align: auto;
}

.submit-button {
  padding: 2%;
  margin: 2%;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
