/* SEARCH */
#search-form {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 1%;
  border-radius: 5%;
}

#search-input {
  margin: .5%;
  padding: 1.36%;
  border-radius: 5%;
}

#jokes-list {
  margin: auto;
  text-align: auto;
  padding: 2%;
  list-style-position: outside;
}



/* TO DO STYLING */
#to-do-form {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 1%;
  border-radius: 5%;
}

#to-do-form-input {
  margin: .5%;
  padding: 1.36%;
  border-radius: 5%;
}

.to-do-items {
  margin: auto;
  text-align: center;
  padding: 2%;
  list-style-position: inside;
}

.to-do-delete {
  margin: 1%;
  padding: 2%;
  border-radius: 5%;
  text-align: center;
}

/* NASA DAILY PIC */
#jumbo-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1%;
}

#pic-sub-title {
  text-align: auto;
  padding: 2%;
}

#landing-page-title {
  padding: 2%;
}

#pic-title {
  text-align: auto;
  padding: 2%;
}

#pic-info {
  text-align: center;
  padding: 2%;
}

#jumbo-div {
  text-align: center;
  padding: 1%;
  margin: 2%;
}

#modal-div {
  text-align: center;
  padding: 2%;
}

#pic-summary {
  height: 75px;
  overflow-y: scroll;
}  

/* COUNTER STYLING */
.counter {
  margin: auto;
  text-align: auto;
  width: 50%;
  padding: 3%;
}

.counter-button {
  padding: 2%;
  margin: 2%;
  text-align: auto;
}

/* FORMS STYLING */
.sign-up-form {
  margin: auto;
  text-align: center;
  width: 50%;
}

.form-header {
  font-weight: bold;
  font-size: 125%; 
  text-align: auto;
  color: whitesmoke;
}

.form-fields {
  padding: 2%;
  margin: 2%;
  text-align: auto;
}

.submit-button {
  padding: 2%;
  margin: 2%;
  text-align: center;
}

#class-form {
  background: rgb(109, 109, 109);
}

#hook-form-1 {
  background: rgb(1, 41, 48);
}

#hook-form-2 {
  background: rgb(4, 63, 43);
}

#hook-form-3 {
  background: rgb(39, 19, 3);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
